<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="collapse" id="navbarToggleExternalContent" >
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <span class="text-light" sec:authentication="name">Email</span>
               <span class="text-light" sec:authentication="principal.authorities">Roles</span>
            </li>
        </ul>
        <a th:href="@{/logout}" class="text-secondary">Logout.</a>
    </div>
</nav>


<body>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas in canvas-slid">
    <a class="navmenu-brand" th:href="@{/admin}">ADMIN</a>
    <br>
    <a class="navmenu-brand" th:href="@{/user}">USER</a>
</div>





<div class="container my-2 "/>
<h1>Admin pannel</h1>
<hr>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Users table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#new" data-toggle="modal" data-target="#userAddModal">New User</a>
        <div th:include="newUser.html"></div>
    </li>
</ul>

<table class="table table-striped" id="userTable">
    <thead>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>



<script>
        console.log("Hello from Jokerge 1984");


        $.get("/api/getUsers", function(data) {
            var $userTableBody = $("#userTable tbody");

            $userTableBody.empty();
            data.forEach(function(user) {
                var userRole = "";
                user.roles.forEach(function (role){
                    userRole += role.name + " ";
                });
                var row = "<tr>" +
                     "<td>" + user.firstName + "</td>" +
                    "<td>" + user.lastName + "</td>" +
                    "<td>" + user.age + "</td>" +
                    "<td>" + user.email + "</td>" +
                    "<td>" + userRole + "</td>" +
                    "<td>" + "<a class='btn btn-success edit-button' data-toggle='modal' data-target='#editModal' >Edit" + "</td>" +
                    "<td>" + "<a class='btn btn-warning'>Delete" + "</td>" +
                    "</tr>";
                $userTableBody.append(row);
            });
        });

        $(".table .edit-button").on("click", function (event){
            $().modal();
            console.log("second jokerge")

            var userId = $(this).data("userid")
            $.get("/api/edit/" + userId, function (user){
                $('#id').val(user.id);
                $('#firstName').val(user.firstName);
                $('#lastName').val(user.lastName);
                $('#age').val(user.age);
                $('#email').val(user.email);
                $('#password').val(user.password);
                $('#editModal').modal();
            });
        });


</script>
</body>
</html>


