<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>People</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="getUsers.js"></script>
    <script>getUsers()</script>

    <script src="addUser.js"></script>

    <script src="editUser.js"></script>

    <script src="deleteUser.js"></script>

</head>

<body>
<!--NAV BAR-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <span class="text-light" sec:authentication="name">Email</span>
                <span class="text-light" sec:authentication="principal.authorities">Roles</span>
            </li>
        </ul>
        <a th:href="@{/logout}" class="text-secondary">Logout.</a>
    </div>
</nav>

<!--OTHER PAGES-->
<div th:insert="~{edit.html}"></div>
<div th:insert="~{delete.html}"></div>

<!--LEFT SELECTER-->
<div class="list-group" style="max-width: 10%;">
    <a th:href = "admin" class="list-group-item list-group-item-action active">Admin</a>
    <a th:href = "user" class="list-group-item list-group-item-action">User</a>
</div>


<!--ADMIN PANNEL-->
<div class="container my-2 "/>
<h1>Admin panel</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
    </div>
</nav>

<!--TABLE-->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-home-tab">
        <div id="userTable">
            <table class="table table-striped">
                <div class="p-1  bg-light text-dark">
                <h4>All Users</h4>
                 </div>
                <thead>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
                </tr>
                </thead>
                <tbody id="tData">

                </tbody>
            </table>
        </div>
    </div>


    <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="p-1  bg-light text-dark">
            <h4>Add new user</h4>
        </div>
        <div id="addUser" tabindex="-1">
                <div class="d-flex justify-content-center">
                    <form class="form" method="post" th:object="${user}" th:action="@{/api/saveUser}">
                    <div class="mb-3">
                        <label class="col-form-label">FirstName:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">LastName:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Age:</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="roles" class="col-form-label">Role</label>
                        <select multiple class="form-control" id="roles" name="roles" size="2">
                            <option th:each="role: ${roleList}"
                                    th:text="${role.getName()}"
                                    th:value="${role}"
                                    th:field="${user.roles}">
                            </option>
                        </select>
                    </div>
                        <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg" onclick="addUser()">Add new user</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
</body>
</html>


