<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="collapse" id="navbarToggleExternalContent" >
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <span class="text-light" sec:authentication="name">Email</span>
               <span class="text-light" sec:authentication="principal.authorities">Roles</span>
            </li>
        </ul>
        <a th:href="@{/logout}" class="text-secondary">Logout.</a>
    </div>
</nav>


<body>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas in canvas-slid">
    <a class="navmenu-brand" th:href="@{/admin}" >ADMIN</a>
    <br>
    <a class="navmenu-brand" th:href="@{/user}">USER</a>
</div>


<div class="container my-2 "/>
<h1>Admin pannel</h1>
<hr>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Users table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#new" data-toggle="modal" data-target="#userAddModal">New User</a>
        <div th:include="newUser.html"></div>
    </li>
</ul>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${userList}">
        <td th:text="${user.Name}">user</td>
        <td th:text="${user.Surname}">surname</td>
        <td th:text="${user.Email}">email</td>
        <td th:text="${user.Roles}">roles</td>
        <td>
            <a data-toggle="modal" action="#" th:action="@{admin/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
            <div th:include="edit.html"></div>

        <td>
            <a th:href="@{admin/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Remove</a>

    </td>
    </tr>
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></body>
</html>


