<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>People</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="getUsers.js"></script>
    <script>getSimpleUsers()</script>

</head>

<body>
<!--NAV BAR-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <span class="text-light" sec:authentication="name">Email</span>
                <span class="text-light" sec:authentication="principal.authorities">Roles</span>
            </li>
        </ul>
        <a th:href="@{/logout}" class="text-secondary">Logout.</a>
    </div>
</nav>

<!--LEFT SELECTER-->
<div class="list-group" style="max-width: 10%;">
    <a th:href = "user" class="list-group-item list-group-item-action active">User</a>
</div>
<!--TABLE-->
<div class="container my-2 "/>
<h1>User information-page</h1>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div id="userTable">
            <table class="table table-striped">
                <div class="p-1  bg-light text-dark">
                    <h4>About user</h4>
                </div>
                <thead>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                </tr>
                </thead>
                <tbody id="tData">

                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>

